<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImagePickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1AEE7F1CD74AA20001DCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1AEE981CD74AA20001DCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1AEEA31CD74AA20001DCCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
